<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/common}">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-3">Home</h1>

    <div class="alert alert-success">
      Logged in as: <strong th:text="${userEmail}">user@email</strong>
    </div>

    <a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a>
  </div>
</body>
</html>