<html layout:decorate="~{common}">

<div layout:fragment="content">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="brand-card p-4 text-center">

                <h2 class="brand-title">
                    Welcome
                </h2>

                <p>
                    Logged in as:
                    <b th:text="${userEmail}"></b>
                </p>

                <!-- NEW: Marketplace actions -->
                <div class="d-grid gap-2 mt-4">

                    <a th:href="@{/products}" class="btn brand-btn">
                        View Products
                    </a>

                    <a th:href="@{/products/new}" class="btn brand-btn">
                        Add New Product
                    </a>

                </div>

                <a th:href="@{/logout}" class="btn btn-outline-dark mt-3">
                    Logout
                </a>

            </div>
        </div>
    </div>

</div>

</html>